*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./Pictures/loginBackground.jpg) center/cover no-repeat;
}
.h2{
    margin: 35px 0;
}
.container{
    width: 30%;
    height: 60%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(120, 100, 120, 0.1);

}
.snow,.msumba{
    position: relative;
    width: 100%;
}
.snow{
    margin-bottom: 30px;
}
.log{

    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 25px;
}
.pass,.use{
    position: absolute;
    transition:0.5s;
}
.use{
    bottom: 10px;
    left: 2px;
}
.inp:focus+.use,
.inp:valid+.use{
    bottom: 25px;
}
.imp:focus+.pass,
.imp:valid+.pass{
    bottom: 25px;
}
.pass{
    bottom: 10px;
    left: 2px;

}
.remember{
    display: flex;
    justify-content: space-between;
}
.register{
    display: flex;
}
.register,#btn,.remember,.pass{
    margin-top: 20px;
}
.imp,.inp{
    font-size: 20px;
    margin-top: 5px;
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    border-bottom: 2px solid white;
    color: white;
}
#btn{
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}
.register{
    display: flex;
    justify-content: center;
    gap: 5px;
}
a{
    color: white;
    text-decoration: none;
}