*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:url(./Pictures/backgrounds.jpg)center/cover no-repeat;
    max-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
.main-content{
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
}
.welcome{
    text-align: center;
    color: #DCDCDC;
}
.createbook{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.veiw,.AddBook{
    padding: 0.6rem;
    background-color: rgba(120, 100, 110, 0.9);
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
}
input{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0.2rem;
    font-size: 1rem;
}
.allBooks{
    color: #DCDCDC;
    width: 100%;
    padding: 1rem 1rem;
}
.adding{
    font-size:2rem;
    color: #DCDCDC;
    text-align: center;

}
.label{
    color: #DCDCDC;
    font-size:1.5rem ;
}
.status{
    display: flex;
    gap: 0.6rem;
}
.mybook{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgba(120, 100, 110, 0.7);
    background-blend-mode: darken;
    padding: 1rem;
    border-radius: 10px;
}
.delete{
    border-radius: 10px;
    outline: none;
    border: 1px rgb(126, 51, 51) solid;
    padding: 0.5rem;
    color: red;
    font-size: 1rem;
}
.error{
    color: tomato;
    font-size: 1.5rem;
}