*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    width: 100vw;
    background: url(/Pictures/backgroung.jpg)center/cover no-repeat;
}
.welcome{
    text-align: center;
}
.createbook{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}