*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:url(./Pictures/backgroung.jpg)center/cover no-repeat;
    max-width: 100vw;
    min-height: 100vh;
}
.main-content{
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100%;
    width: 100%;
}
.welcome{
    text-align: center;
    color: red;
}
.createbook{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.veiw,.AddBook{
    padding: 0.6rem;
    background-color: rgba(120, 100, 110, 0.5);
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
}
input{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0.2rem;
    font-size: 1rem;
}
.allBooks{
    color: red;
    width: 100%;
    padding: 1rem 1rem;
}
.adding{
    font-size:2rem;
    color: red;
    text-align: center;

}